body{
    background-color: white;
    /* padding: 25px; */
    font-family: "Iranian Sans";

}
.app{
    background-color:white;
        /* padding: 25px; */
       

}
.header{
    width: 100%;
    align-items: center;
    /* background-color: rgb(199, 148, 114); */
    background-image:url("../Images/h.jpg");
    background-repeat: no-repeat;
  height: 80vh;
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;


}

.pages{
    /* width: 40%; */
    color: white;
    text-decoration: none;
}


